.item1 {
  grid-area: header;
}

.item2 {
  grid-area: title;
}

.item3 {
  grid-area: picture;
}

.item4 {
  grid-area: question;
}

.item5 {
  grid-area: answers;
}

.item6 {
  grid-area: button;
}

.item7 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-areas: "header header title title title title title" ". picture picture picture picture . ." ". question question question question . ." ". answers answers answers answers . ." ". . . button . . ." "footer footer footer footer footer footer footer";
  grid-template-rows: 14vh 18vh 20vh 20vh 4vh 14vh;
  grid-row-gap: 2vh;
}
@media screen and (max-width: 481px) {
  .grid-container {
    grid-template-areas: "header header header" "picture picture picture" "question question question" ". answers ." ". button ." "title title footer";
    grid-template-rows: 8vh 20vh 20vh 30vh 4vh 8vh;
  }
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 1.2em;
}

.grid-container > .item1, .grid-container > .item2, .grid-container > .item7 {
  background-color: #ed1d23;
  color: white;
}

#footer, #header, #title {
  font-size: 3em;
}
@media screen and (max-width: 699px) {
  #footer, #header, #title {
    font-size: 2em;
  }
}
@media screen and (max-width: 481px) {
  #footer, #header, #title {
    font-size: 1.4em;
  }
}
#footer #logo, #header #logo, #title #logo {
  height: 12vh;
}
@media screen and (max-width: 481px) {
  #footer #logo, #header #logo, #title #logo {
    height: 6vh;
  }
}

#header {
  padding: 0;
}

#picture {
  border-radius: 25px;
  padding: 0;
}
#picture #game-picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

#question {
  border: 1px solid #8b8b8b;
  border-radius: 25px;
  margin: 0 10px;
}

#answers {
  padding: 0;
  margin: 0 10px;
}

#button-next {
  padding: 0;
  height: 2vh;
}
#button-next #next-button {
  padding: 3px;
  height: 30px;
  border-radius: 25px;
  background-color: white;
}

.subitem1 {
  grid-area: answer1;
}

.subitem2 {
  grid-area: answer2;
}

.subitem3 {
  grid-area: answer3;
}

.subitem4 {
  grid-area: answer4;
}

.grid-sub-container {
  display: grid;
  grid-template-areas: "answer1 answer2" "answer3 answer4";
  grid-gap: 2vh 4vh;
  height: 20vh;
  overflow: scroll;
}
@media screen and (max-width: 481px) {
  .grid-sub-container {
    grid-template-areas: "answer1" "answer2" "answer3" "answer4";
    justify-content: space-evenly;
    height: 30vh;
  }
}

#form {
  padding: 0;
}

.grid-sub-container .answer1-4 {
  padding: 10px;
  text-align: center;
  border: 1px solid #8b8b8b;
  border-radius: 25px;
}

#landing-page {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: all 0.3s linear;
}

.hidden-overlay {
  position: absolute;
  transform: translateX(-100%);
}

#title-wrapper {
  width: 100vw;
  height: 80px;
  position: absolute;
  bottom: 70%;
  background-color: transparent;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 2vw 0 2vw;
}

#landing-btn-wrapper {
  width: 100vw;
  height: 80px;
  position: absolute;
  top: 70%;
  background-color: transparent;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* .landing-btn containers: add the texture above a solid background */
.landing-btn {
  max-width: 500px;
  margin: 2rem 0;
  padding: 0.2rem 1.25rem;
  text-align: center;
  font-family: "Dekko", cursive;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), #ADD8E6;
  background-size: 12px, 100%;
  border: 0.4rem solid #000000;
  /* position relative for the :before pseudo element */
  position: relative;
  pointer-events: none;
}

/* for the highlight container change the solid backgorund to a yellow-ish hue */
.landing-btn--alternate {
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), #ffcd28;
  background-size: 12px, 100%;
  pointer-events: none;
}

/* for every .button container add a solid background behind the container itself, slightly offset */
.landing-btn:before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0.15rem;
  width: 100%;
  height: 100%;
  /* with the same texture, but different color, for both the texture and the background */
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(35)" opacity="1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), #000000;
  background-size: 12px, 100%;
  border: 0.4rem solid #000000;
  z-index: -5;
}

.landing-btn:hover {
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), #ffffff;
  background-size: 12px, 100%;
  cursor: pointer;
}

video {
  height: auto;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
}

#video-wrapper {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  background-color: #000000;
}

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: 34s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
* p {
  color: #ffffff;
  font-size: 14px;
}
* h1 {
  color: #ffffff;
  text-align: center;
  font-family: "Dekko", cursive;
  font-size: 2rem;
  text-shadow: -3px 3px #000000;
}
* h2 {
  color: #ffffff;
}

body {
  width: 100vw;
  height: 100vh;
}
body #main {
  width: 100vw;
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
