@font-face {
  font-family: "palooka-bb";
  src: url("../../fonts/palooka/webkit/palooka-bb.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/palooka/webkit/palooka-bb.eot?#iefix") format("embedded-opentype"), url("../../fonts/palooka/webkit/palooka-bb.woff2") format("woff2"), url("../../fonts/palooka/webkit/palooka-bb.woff") format("woff"), url("../../fonts/palooka/webkit/palooka-bb.ttf") format("truetype"), url("../../fonts/palooka/webkit/palooka-bb.svg#palooka-bb") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "digitalstrip";
  src: url("../../fonts/digitalstrip/webkit/digitalstrip.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/digitalstrip/webkit/digitalstrip.eot?#iefix") format("embedded-opentype"), url("../../fonts/digitalstrip/webkit/digitalstrip.woff2") format("woff2"), url("../../fonts/digitalstrip/webkit/digitalstrip.woff") format("woff"), url("../../fonts/digitalstrip/webkit/digitalstrip.ttf") format("truetype"), url("../../fonts/digitalstrip/webkit/digitalstrip.svg#digitalstrip") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "palooka-bb";
  src: url("../../fonts/palooka/webkit/palooka-bb.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/palooka/webkit/palooka-bb.eot?#iefix") format("embedded-opentype"), url("../../fonts/palooka/webkit/palooka-bb.woff2") format("woff2"), url("../../fonts/palooka/webkit/palooka-bb.woff") format("woff"), url("../../fonts/palooka/webkit/palooka-bb.ttf") format("truetype"), url("../../fonts/palooka/webkit/palooka-bb.svg#palooka-bb") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "digitalstrip";
  src: url("../../fonts/digitalstrip/webkit/digitalstrip.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/digitalstrip/webkit/digitalstrip.eot?#iefix") format("embedded-opentype"), url("../../fonts/digitalstrip/webkit/digitalstrip.woff2") format("woff2"), url("../../fonts/digitalstrip/webkit/digitalstrip.woff") format("woff"), url("../../fonts/digitalstrip/webkit/digitalstrip.ttf") format("truetype"), url("../../fonts/digitalstrip/webkit/digitalstrip.svg#digitalstrip") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
.item1 {
  grid-area: header;
}

.item2 {
  grid-area: title;
}

.item3 {
  grid-area: picture;
}

.item4 {
  grid-area: question;
}

.item5 {
  grid-area: answers;
}

.item6 {
  grid-area: button;
}

.grid-container {
  font-weight: 900;
  display: grid;
  height: 100vh;
  grid-template-areas: "title title title title title title" "question question question picture picture picture" "answers answers answers picture picture picture" "answers answers answers picture picture picture" ". . . . button ." "header header header header header header";
  grid-template-rows: 14vh 22vh 17vh 17vh 6vh 14vh;
  grid-template-columns: 20vw 20vw 10vw 10vw 20vw 20vw;
  grid-row-gap: 2vh;
}
@media screen and (max-width: 481px) {
  .grid-container {
    grid-template-areas: "title title title title" "picture picture picture picture" "question question question question" ". answers answers ." ". button button ." "header header header header";
    grid-template-rows: 8vh 20vh 12vh 36vh 6vh 8vh;
    grid-template-columns: 10vw 40vw 40vw 10vw;
  }
}
.grid-container button {
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="123250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), #ffffff;
  background-size: 12px, 100%;
  border: 0.3rem solid #000000;
  cursor: pointer;
}
.grid-container h2, .grid-container p {
  color: #000000;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding-top: 20px;
  font-size: 1.2em;
}

div.item5 {
  padding: 0;
}
@media screen and (max-width: 481px) {
  div.item5 {
    padding-top: 10px;
  }
}

div.item4 {
  align-self: center;
}

@media screen and (max-width: 481px) {
  div.item2 {
    width: 100vw;
    padding-top: 10px;
  }
}

.grid-container > .item1, .grid-container > .item2, .grid-container > .item7 {
  background-color: #ed1d23;
  color: white;
}

#header, #title {
  font-size: 3em;
  font-family: palooka-bb, "Dekko", sans serif;
  text-shadow: -6px 6px #000000;
}
@media screen and (max-width: 481px) {
  #header, #title {
    font-size: 1.4em;
  }
}
#header #logo, #title #logo {
  height: 12vh;
  margin: 1vh 0;
}
@media screen and (max-width: 481px) {
  #header #logo, #title #logo {
    height: 6vh;
    margin: 1vh 0;
  }
}

#header {
  padding: 0;
}

#picture {
  border-radius: 25px;
  padding-bottom: 8px;
  margin: 0 10px;
}
#picture #game-picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

#question {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  font-size: 20px;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="123250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), #ffffff;
  background-size: 12px, 100%;
  border: 0.4rem solid #000000;
  border-radius: 25px;
  margin: 10px;
  margin-top: 20px;
}
@media screen and (max-width: 481px) {
  #question {
    margin: 0 10px;
    font-size: 14px;
  }
}

#answers {
  margin: 0 10px;
}

.subitem1 {
  grid-area: answer1;
}

.subitem2 {
  grid-area: answer2;
}

.subitem3 {
  grid-area: answer3;
}

.subitem4 {
  grid-area: answer4;
}

.grid-sub-container {
  display: grid;
  grid-template-areas: "answer1 answer2" "answer3 answer4";
  grid-gap: 2vh 4vh;
  grid-template-columns: auto auto;
  max-height: 40vh;
  justify-content: center;
}
@media screen and (max-width: 481px) {
  .grid-sub-container {
    grid-template-areas: "answer1" "answer2" "answer3" "answer4";
    justify-content: space-evenly;
    max-height: 36vh;
    grid-template-columns: max-content;
  }
}

.grid-container > .item6 {
  padding: 0;
  height: 6vh;
  cursor: pointer;
}
.grid-container > .item6 .next-btn {
  padding: 0px 18px;
  height: 6vh;
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), #ADD8E6;
  background-size: 12px, 100%;
  border: 0.3rem solid #000000;
  pointer-events: none;
}

.answer1-4 > button {
  min-width: 150px;
}

.item6:hover .next-btn {
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), #ffffff;
  background-size: 12px, 100%;
}

.answer1-4 > button:hover {
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), #fffda0;
  background-size: 12px, 100%;
}

.grid-container > .hidden-class-button {
  visibility: hidden;
}

#landing-page {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: all 0.3s linear;
}

.hidden-overlay {
  position: absolute;
  transform: translateX(-100%);
}

#title-wrapper {
  width: 100vw;
  height: 80px;
  position: absolute;
  bottom: 70%;
  background-color: transparent;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 2vw 0 2vw;
}

#landing-btn-wrapper {
  width: 100vw;
  height: 80px;
  position: absolute;
  top: 70%;
  background-color: transparent;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#landing-btn-wrapper button {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  padding: 0.2rem 1.25rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  cursor: pointer;
}

/* .landing-btn containers: add the texture above a solid background */
.landing-btn-div {
  max-width: 500px;
  margin: 2rem 0;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), #ADD8E6;
  background-size: 12px, 100%;
  border: 0.4rem solid #000000;
  /* position relative for the :before pseudo element */
  position: relative;
  pointer-events: none;
}

/* for the highlight container change the solid backgorund to a yellow-ish hue */
.landing-btn-div--alternate {
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), #ffcd28;
  background-size: 12px, 100%;
  pointer-events: none;
}

.landing-btn-div:hover {
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), #ffffff;
  background-size: 12px, 100%;
}

/* for every .button container add a solid background behind the container itself, slightly offset */
.landing-btn-div:before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0.15rem;
  width: 100%;
  height: 100%;
  /* with the same texture, but different color, for both the texture and the background */
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(35)" opacity="1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), #000000;
  background-size: 12px, 100%;
  border: 0.4rem solid #000000;
  z-index: -5;
}

video {
  height: auto;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
}

#video-wrapper {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  background-color: #000000;
}

#skip-intro-btn {
  background-color: transparent;
  border: none;
  color: darkgray;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#skip-intro-btn:hover {
  cursor: pointer;
  color: white;
}

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: 34s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 481px) {
  #landing-page #landing-btn-wrapper button {
    font-size: 14px;
  }
  #landing-page #title-wrapper h1 {
    font-size: 50px;
  }
}
@font-face {
  font-family: "palooka-bb";
  src: url("../../fonts/palooka/webkit/palooka-bb.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/palooka/webkit/palooka-bb.eot?#iefix") format("embedded-opentype"), url("../../fonts/palooka/webkit/palooka-bb.woff2") format("woff2"), url("../../fonts/palooka/webkit/palooka-bb.woff") format("woff"), url("../../fonts/palooka/webkit/palooka-bb.ttf") format("truetype"), url("../../fonts/palooka/webkit/palooka-bb.svg#palooka-bb") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "digitalstrip";
  src: url("../../fonts/digitalstrip/webkit/digitalstrip.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/digitalstrip/webkit/digitalstrip.eot?#iefix") format("embedded-opentype"), url("../../fonts/digitalstrip/webkit/digitalstrip.woff2") format("woff2"), url("../../fonts/digitalstrip/webkit/digitalstrip.woff") format("woff"), url("../../fonts/digitalstrip/webkit/digitalstrip.ttf") format("truetype"), url("../../fonts/digitalstrip/webkit/digitalstrip.svg#digitalstrip") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
.hidden-overlay {
  position: absolute;
  transform: translateX(-100%);
}

#score-page {
  width: 100vw;
  height: 100vh;
  flex-flow: column wrap;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s linear;
  z-index: 4;
  background-color: white;
}
#score-page #top-Bar {
  width: 100vw;
  height: 12vh;
  top: 0;
  display: flex;
  background-color: #E52325;
  text-align: center;
  font-size: 2em;
  justify-content: center;
  align-items: center;
}
#score-page #top-Bar h1 {
  text-align: center;
  display: inline-block;
}
#score-page #top-Bar h3 {
  font-size: 50px;
}
#score-page #content-wrapper {
  display: flex;
  flex-direction: row;
  height: 76vh;
  width: 100vw;
}
#score-page #content-wrapper #wrapper-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#score-page #content-wrapper #wrapper-left #gif-IMG {
  height: auto;
  max-height: 70%;
  width: 80%;
}
#score-page #content-wrapper #wrapper-left #gif-IMG img {
  height: auto;
  width: 100%;
  border-radius: 25px;
}
#score-page #content-wrapper #wrapper-left #gif-Text {
  width: 90%;
  margin-top: 3vh;
}
#score-page #content-wrapper #wrapper-left #gif-Text h3 {
  font-size: 28px;
  width: 100%;
  text-align: center;
}
#score-page #content-wrapper #wrapper-right {
  height: 100%;
  width: 50%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#score-page #content-wrapper #wrapper-right #score-wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#score-page #content-wrapper #wrapper-right #score-wrapper #score-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#score-page #content-wrapper #wrapper-right #score-wrapper #score-box #score-Title {
  font-size: calc(2vw + 12px);
  text-align: center;
}
#score-page #content-wrapper #wrapper-right #score-wrapper #score-box #display-Score {
  margin-top: 8%;
  font-size: calc(2vw + 12px);
  text-align: center;
}
#score-page #content-wrapper #wrapper-right #score-wrapper #avg-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#score-page #content-wrapper #wrapper-right #score-wrapper #avg-box #avg-score-Title {
  font-size: calc(2vw + 12px);
  text-align: center;
}
#score-page #content-wrapper #wrapper-right #score-wrapper #avg-box #display-AvgScore {
  text-align: center;
  margin-top: 8%;
  font-size: calc(2vw + 12px);
}
#score-page #content-wrapper #wrapper-right #play-again-wrapper {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#score-page #content-wrapper #wrapper-right #play-again-wrapper #play-again-button {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  border-radius: 25px;
  letter-spacing: 0.3rem;
  font-weight: 700;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="123250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), #ADD8E6;
  background-size: 12px, 100%;
  border: 0.2rem solid #000000;
  cursor: pointer;
}
#score-page #content-wrapper #wrapper-right #play-again-wrapper #play-again-button:hover {
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), #ffffff;
  background-size: 12px, 100%;
}
#score-page #bottom-bar {
  width: 100vw;
  height: 12vh;
  background-color: #E52325;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}
#score-page #bottom-bar img {
  height: 100%;
  width: auto;
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: digitalstrip;
  font-size: 18px;
}
@media screen and (max-width: 481px) {
  * {
    font-size: 14px;
  }
}
* p {
  color: #ffffff;
}
* h1 {
  color: #ffffff;
  text-align: center;
  font-family: palooka-bb, "Dekko", sans serif;
  font-size: 70px;
  text-shadow: -6px 6px #000000;
}
* h2 {
  color: #ffffff;
}

body {
  width: 100vw;
  height: 100vh;
}
body #main {
  width: 100vw;
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
