#landing-page {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: all .3s linear;
} 

.hidden-overlay {
  position: absolute;
  transform: translateX(-100%);
}

#title-wrapper {
  width: 100vw;
  height: 80px;
  position: absolute;
  bottom: 70%;
  background-color: transparent;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 2vw 0 2vw;
}

#landing-btn-wrapper {
  width: 100vw;
  height: 80px;
  position: absolute;
  top: 70%;
  background-color: transparent;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  button {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0.2rem 1.25rem;
    text-align: center;
    // font-family: "Dekko", cursive;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    cursor: pointer;
  }
}

/* .landing-btn containers: add the texture above a solid background */
.landing-btn-div {
  max-width: 500px;
  margin: 2rem 0;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    $btn-blue;
  background-size: 12px, 100%;
  border: 0.4rem solid $black;
  /* position relative for the :before pseudo element */
  position: relative;
  pointer-events: none;
}

/* for the highlight container change the solid backgorund to a yellow-ish hue */
.landing-btn-div--alternate {
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    $btn-yellow;
  background-size: 12px, 100%;
  pointer-events: none;
}

.landing-btn-div:hover {
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
  $white;
  background-size: 12px, 100%;
}

/* for every .button container add a solid background behind the container itself, slightly offset */
.landing-btn-div:before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0.15rem;
  width: 100%;
  height: 100%;
  /* with the same texture, but different color, for both the texture and the background */
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(35)" opacity="1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    $black;
  background-size: 12px, 100%;
  border: 0.4rem solid $black;
  z-index: -5;
}

video {
  height: auto;
  min-height:100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
}

#video-wrapper {
  height: 100%;
  min-height:100%;
  width: 100%;
  min-width: 100%;
  background-color: $black;
}

#skip-intro-btn {
  background-color: transparent;
  border: none;
  color: darkgray;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#skip-intro-btn:hover{
  cursor: pointer;
  color: white;
}

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: 34s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@media screen and (max-width: 481px) {
  #landing-page {
    #landing-btn-wrapper {
      button {
        font-size: 14px;
      }
    }
    #title-wrapper {
      h1 {
        font-size: 50px;
      }
    }
  }
}