@import "variables";

.hidden-overlay {
  position: absolute;
  transform: translateX(-100%);
}

#score-page {
  width: 100vw;
  height: 100vh;
  flex-flow: column wrap;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s linear;
  z-index: 4;
  background-color: white;


  #top-Bar {
    width: 100vw;
    height: 12vh;
    top: 0;
    display: flex;
    background-color: #E52325;
    text-align: center;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    
    h1 {
      text-align: center;
      display: inline-block;
    }
  }

#full-wrapper {
  display: flex;
  height: 76vh;
  width: 100vw;

  #wrapper-left {

  #gif-IMG {
    margin-left: 50px;
    margin-top: 70px;
    height: auto;
    width: 40vw;
    
    img {
    height: auto;
    width: 40vw;
    }
    
  }

  #gif-Text {
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
    

    h3 {
      margin-left: 75px;
      height: 100px;
      font-size:50px;
    }
  }}

  #wrapper-right {
    display: flex;
    flex-direction: row;
    width: 100%;

    #score-wrapper {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      
    #score-Title {
    font-size: 40px;
    margin-top: 30%;
    }

    #display-Score {
      margin-top: 20%;
      font-size: 40px;
    }}

    #avg-score-wrapper {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

    #avg-score-Title {
      font-size: 40px;
      margin-top: 30%;
      
    }

    #display-AvgScore {
      text-align: center;
      margin-top: 20%;
      font-size: 40px;
    }

    #play-again-button {
    display: flex;
    text-align: center;
    margin-top: 160px;
    font-size: 25px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-weight: 900;
    font-family: "Dekko", cursive;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="123250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
      $btn-blue;
    background-size: 12px, 100%;
    border: 0.4rem solid $black;
    cursor: pointer;
    }
    #play-again-button:hover {
        background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
        $white;
        background-size: 12px, 100%;
    }
  }
}
}

  #bottom-bar {
    width: 100vw;
    height: 12vh;
    background-color: #E52325;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    

    img {
      height: 100%;
      width: auto;
      display: inline-block;
    }
  }
}

@media screen and (max-width: 1175px) {
  #score-page {
    width: 100vw;
    height: 100vh;
    flex-flow: column wrap;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s linear;
    z-index: 4;
    background-color: white;
  

  #full-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    

    #wrapper-left {
      width: 100%;
      height: auto;
      display: flex;
      justify-self: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      background-color: rosybrown;

      #gif-IMG {
        margin-left: 50px;
        margin-top: 25px;
        height: auto;
        width: 40vw;
        justify-self: center;
      justify-content: center;
      background-color: saddlebrown;
        
        img {
        height: auto;
        width: 40vw;
        justify-self: center;
        justify-content: center;
        }

        #gif-Text {
          width: 40vw;
          margin-left: 50px;
          margin-top: 10px;
          justify-self: center;
          justify-content: center;
          background-color: seagreen;
      
          h3 {
            margin-left: 50px;
            height: 100px;
            font-size:50px;
          }
        }}
    }

    #wrapper-right {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-self: flex-end;
      justify-content: flex-end;
      background-color: silver;
    }

    #score-wrapper {
      width: 50vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-self: flex-end;
      justify-content: flex-end;
      background-color: skyblue;
      
    #score-Title {
    font-size: 40px;
    margin-top: 30%;
    }

    #display-Score {
      margin-top: 20%;
      font-size: 40px;
    }}

    #avg-score-wrapper {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: flex-end;
      justify-content: flex-end;
      margin-top: 30%;
      background-color: tomato;

    #avg-score-Title {
      font-size: 40px;
      margin-top: 30%;
    }

    #display-AvgScore {
      margin-top: 20%;
      font-size: 40px;
    }

    #play-again-button {
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;
    text-align: center;
    margin-top: 20%px;
    font-size: 25px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-weight: 900;
    font-family: "Dekko", cursive;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="123250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
      $btn-blue;
    background-size: 12px, 100%;
    border: 0.4rem solid $black;
    cursor: pointer;
    }
  }
}
} 
}
