$white: #ffffff;
$marvelred: rgb(237, 29, 35);
$marvelwhite: rgb(255, 255, 255);
$marvelgrey: rgb(139, 139, 139);
$black: #000000;
$red: hsl(1, 86%, 46%);
$blue: #0085b2;
$green: #1d4c19;
$marvel-red: #ED1D24;
$btn-yellow: #ffcd28;
$btn-blue: #ADD8E6;