$white: #ffffff;
$marvelred: #ed1d23;
$marvelwhite: rgb(255, 255, 255);
$marvelgrey: rgb(139, 139, 139);
$marvelgreen: #35db35;
$black: #000000;
$red: #da1410;
$blue: #0085b2;
$green: #1d4c19;
$btn-yellow: #ffcd28;
$btn-light-yellow: #fffda0;
$btn-blue: #ADD8E6;